<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <meta charset="utf-8">
    <title>Data</title>

  </head>

  <body>
  <div layout:fragment="content">
    <section style="padding: 2%">
      <div style="padding-left:20px">
        <form action="json">

          <div>
            <input type="hidden" name="filename" th:value="${filename}">
          </div>

          <button type="submit" class="btn btn-dark btn-lg">View JSON format
          </button>
          <a href="javascript: document.body.scrollIntoView(false);" style="padding-left: 100px">Download as CSV</a>

        </form>
      </div>
    <div class="container-fluid">
      <div id='table-container'> </div>

    </div><!-- /.container -->
    </section>
  </div>



  </body>
</html>
