<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <section id="banner" style="padding: 10%">
        <div class="inner">
            <form id="dataset-search" class="form-inline" role="search">

            </form>

            <p style="font-size: 14px">The city of Windsor’s Open Data Portal is an open source delivery tool to bring people and data together. Whether you’re an app developer, an engaged citizen, or a student trying to learn more about how the city works, the Open Data Portal contains a wealth of datasets for you to explore. We update regularly with new datasets, and welcome your requests.</p>
        </div>

    </section>
</div>
</body>
</html>