<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<form action="json">

    <div>
        <label th:text="${filename}"></label>
        <input type="hidden" name="name" th:value="${filename}">
        <p th:text="${filename}"></p>

    </div>

    <button type="submit" class="btn btn-dark btn-lg">View JSON format
    </button>

</form>
</body>
</html>