<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">City of Windsor Open Data Portal</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dataTables.bootstrap.css" rel="stylesheet">


    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body  style="padding-left: 100px;padding-right: 100px">

<header id="header" style="background-color: #03254c  ;padding-left: 100px;padding-right: 100px" >
    <a class="logo" href="home" style="font-size: 18px">Windsor</a>
    <p id="menu-homepage" class="navbar-nav mr-auto" style="font-size: 18px"><b>OPEN DATA</b></p>
    <p id="menu-homepage" class="navbar-nav mr-auto"><li id="menu-item-45" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="/Datasets" style="color: white"title="Data Catalogue" class="nav-link">Data Catalogue</a></li>
    <li id="menu-item-44" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a  style="color: white" title="Knowledge Centre" class="nav-link">Knowledge Centre</a></li>
    <li id="menu-item-46" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a  style="color: white" title="About"class="nav-link">About</a></li>
    <li id="menu-item-43" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a  style="color: white" title="Contact"class="nav-link">Contact</a></li>
    </p>	<nav>
    <a href="#menu">Menu</a>
</nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="generic.html">Generic</a></li>
    </ul>
</nav>


<!-- Banner -->
<section id="banner" style="padding: 10%">
        <div class="inner">
            <form id="dataset-search" class="form-inline" role="search">

            </form>

            <p style="font-size: 14px">The city of Windsor’s Open Data Portal is an open source delivery tool to bring people and data together. Whether you’re an app developer, an engaged citizen, or a student trying to learn more about how the city works, the Open Data Portal contains a wealth of datasets for you to explore. We update regularly with new datasets, and welcome your requests.</p>
        </div>

    </section>

<!-- Highlights -->


<!-- Footer -->
<footer id="footer">


    <div class="copyright">
        &copy; City of Windsor
    </div>

</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.csv.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="js/csv_to_html_table.js"></script>

</body>
</html>